.container {
  outline: solid 1px red;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}
.header {
  outline: solid 1px green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  text-align: right;
}
.link {
  cursor: pointer;
}
