.container {
  font-family: "Open Sans", sans-serif;
  color: rgb(18, 18, 138);

  max-width: 780px;
  padding: 50px;
  margin: 50px auto;
  text-align: center;
  background-color: rgb(219, 219, 247);
  border-radius: 10px;
  border: solid 3px rgb(164, 164, 227);

  @media screen and (min-width: 480px) and (max-width: 779px) {
    max-width: 480px;
    padding: 50px 20px;
  }
  @media screen and (max-width: 479px) {
    max-width: 479px;
    padding: 30px 5px;
    margin: 50px 0;
    height: 100vh;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 779px) {
    display: block;
    text-align: start;
  }
}

.footer {
  margin-top: 60px;
  text-align: right;
}

.gitIcon {
  width: 40px;
  height: 40px;
  color: black;
}
