.container {
  font-family: "Open Sans", sans-serif;
  color: rgb(18, 18, 138);

  max-width: 780px;
  padding: 50px;
  margin: 50px auto;
  text-align: center;
  background-color: rgb(226, 226, 245);
  border-radius: 10px;
  border: solid 3px rgb(164, 164, 227);

  @media screen and (max-width: 779px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 480px;
    padding: 50px 5px;
    min-height: calc(100vh - 100px);
    margin: 0 auto;
  }

  @media screen and (max-height: 779px) and (orientation: landscape) {
    padding: 10px 30px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 480px) and (max-width: 779px) {
    padding: 0 30px;
  }
  @media screen and (max-height: 779px) and (orientation: landscape) {
    padding: 0;
  }
}

.footer {
  margin-top: 60px;
  text-align: right;
  @media screen and (max-width: 779px) {
    padding-bottom: 40px;
    padding-right: 30px;
  }
}

.gitIcon {
  width: 40px;
  height: 40px;
  color: black;
}
